body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}


.creative {
  color: midnightblue;
}


.title-image {
  height: 200px;
  float: left;
  padding-right: 50px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
}

@media (max-width: 700px){
  .logo{
    width: 100px;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
  }

  .card {
    margin-bottom: 30px;
    width: 100%;
    text-align: justify;
    display: block;
    
  }

  .card img {
    width: 100%;
  }
}

